# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.SquareMan2.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dokumenty\GitHub\SquareMan2\.idea\.idea.SquareMan2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
